@charset "utf-8";

html {
  font-size: 16px;
}
/* 全体 */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

li {
  list-style: none;
}

.feature {
  width: 296px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  h1 {
    border-top: 1rem solid #fa982d;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
  }
  
  h1 img {
    width: 960px;
  }
  
}

h2 img {
  height: 3rem;
}

h2,
h3 {
  margin: 10px 0 10px;
  font-size: 1.1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  h2 {
    margin-bottom: 2rem;
  }

  h2 img {
    height: 4rem;
  }

  h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
}

.feature-text {
  margin-bottom: 1rem;
}

.book-more {
  margin: 30px 0 40px;
  text-align: center;
}

.book-more a {
  padding: 10px 30px;
  font-size: 0.9rem;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  text-decoration: none;
}

.contents-list {
  padding: 1rem 0 1.5rem;
  background: url(../img/contents-list_bg.jpg) no-repeat center center;
  background-size: cover;
}

.contents-list ul {
  width: 296px;
  margin: 0 auto;
  padding: 2rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.contents-list li {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.8rem;
  line-height: 1.2;
  list-style: none;
  border-bottom: 1px dotted black;
}

.contents-list li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.author {
  padding-top: 0.7rem;
}

.author dl {
  width: 296px;
  margin: 0 auto;
}

.author dt {
  margin: 0.5rem 0 ;
  font-family: UD Shin Go Medium;
  font-size: 1.1rem;
  border-bottom: 1px dotted black;
  line-height: 2;
}

.author dd {
  font-size: 0.9rem;
  line-height: 1.4;
}

footer {
  margin-top: 2rem;
  padding: 1rem 0 1rem;
  /* background-color: black; */
}

.book-info {
  height: 50vh;
  background: url(../img/footer_bg.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-info-wrap {
  width: 296px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.book-info-wrap p {
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.5rem;
}


.footer-info {
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: #333;
}

.sns-icons {
  text-align: center;
}

.sns-icons a {
  display: inline-block;
  width: 2rem;
  color: #fff;
}

i {
  font-size: 1.5rem;
}

.copy-right {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}