@charset "utf-8";

html {
  font-size: 15px;
}

body {
  color: #555;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.75;
  -webkit-text-size-adjust: none;
}

.container {
  width: 100%;
}

#header {
  display: none;
}


#nav {
  display: none;
}

#banner {
  position: relative;
  background: url(../img/books-2211342_1920.jpeg) no-repeat center center / cover;
  height: 100vh;
}

.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.slogan h2, .slogan p {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: whitesmoke;
  text-shadow:
  0.6px 0.8px 2.2px rgba(0, 0, 0, 0.281),
  1.3px 2px 5.3px rgba(0, 0, 0, 0.404),
  2.5px 3.8px 10px rgba(0, 0, 0, 0.5),
  4.5px 6.7px 17.9px rgba(0, 0, 0, 0.596),
  8.4px 12.5px 33.4px rgba(0, 0, 0, 0.719),
  20px 30px 80px rgba(0, 0, 0, 1);
}

.slogan p {
  font-size: 1.25rem;
  text-transform: capitalize;
}

main {
  padding: 0 1rem;
}

.overview h3 {
  margin: 3rem 0 1rem;
  padding: 0.25rem 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.overview-flex-box {
  display: flex;
  flex-direction: column;
}

.figure {
  margin: 0.75rem 0;
}
.overview-flex-box img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .overview-flex-box {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .overview-flex-box .figure  {
    flex-basis: 49%;
  }
  
  .overview-flex-box p {
    flex-basis: 49%;
  }
}

