@charset "utf-8";

main {
  padding: 0 1rem;
}

.overview {
  margin-top: 3.5rem;
}
/* 上下を罫線で囲む見出し */
/* .overview h3 {
  margin: 3rem 0 1rem;
  padding: 0.25rem 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
} */

.overview-flex-box {
  display: flex;
  flex-direction: column-reverse;
}

.figure {
  margin: 0.75rem 0;
}
.overview-flex-box img {
  width: 100%;
}

#contents {
  margin: 2.5rem 0 2.5rem;
}

.contents-header {
  margin-bottom: 1.5rem;
}

.h2-title,
h3 {
  margin-right: -1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  letter-spacing: 0.5rem;
}

.h2-title {
  position: relative;

  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.h2-title::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -50%) rotate(45deg);

  background-color: rgba(241, 98, 114, 0.3);
  z-index: -100;
}

.contents-header p {
  line-height: 1.3;
  text-align: justify;
}


.type-of-thing {
  list-style: none;
  margin: 0.75rem 0;
  padding: 1rem;
  text-align: center;
  border: 0.5rem solid rgba(241, 98, 114, 0.5);
  border-radius: 0.5rem;
}

.type-of-thing i {
  font-size: 4rem;
  color: rgba(241, 98, 114, 0.7);
}

.type-of-thing p {
  line-height: 1.3;
  text-align: left;
}

.type-of-thing .readmore {
  font-size: 0.9rem;
  text-align: right;
}

.type-of-thing a {
  text-decoration: none;
  color: #555;
  border-bottom: 1px dotted #555;
}

#footer {
  padding: 2rem 0 3rem;
  background: #555;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 50%;
  margin: 0 auto;
}

.footer-icons i {
  font-size: 1.5rem;
  color: whitesmoke;
}


.footer-copyright {
  margin-top: 1rem;
}
.footer-copyright li {
  font-size: 0.85rem;
  line-height: 1.2;
  text-align: center;
  list-style: none;
  color: whitesmoke;
}

.footer-copyright a{
  color: whitesmoke;
  text-decoration: none;
}

/**************** phto page ****************/
.header-button {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
  width: 75px;
  height: 75px;
  background-color: transparent;
  color: #000;
}
.grid-photos {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 100px 100px;
  grid-gap: 1rem;
  margin: 0 auto;
  width: 316px;
}

.grid-photos img {
  display: block;
  width: 100%;
  box-shadow:
    0.1px 0.2px 0.7px rgba(0, 0, 0, 0.047),
    0.3px 0.5px 1.7px rgba(0, 0, 0, 0.064),
    0.6px 1px 3.3px rgba(0, 0, 0, 0.072),
    1.1px 1.8px 5.8px rgba(0, 0, 0, 0.083),
    2.1px 3.3px 10.9px rgba(0, 0, 0, 0.11),
    5px 8px 26px rgba(0, 0, 0, 0.18);
}
/**************** phto page ここまで ****************/


/**************** modal****************/
/**************** modal ここまで ****************/


@media screen and (min-width: 768px) {
  main {
    width: 768px;
    margin: 0 auto;
  }
  .overview-flex-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .overview-flex-box .figure  {
    flex-basis: 49%;
  }
  
  .overview-flex-box p {
    flex-basis: 49%;
  }

  .contents-header {
    margin-bottom: 0.75rem;
  }

  .contents-header p {
    line-height: 1.5;
    text-align: center;
  }

  br.pc-only {
    display: inline;
  }

  .cando {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .type-of-thing {
    flex: 40%;
    margin: 0.5rem;

  }

  .footer-icons {
    width: 30%;
  }
}