@charset "utf-8";

html {
  font-size: 16px;
}

body.home {
  background: url(../img/banner.jpg) no-repeat center center / cover;
  height: 100vh;
}

.container {
  padding: 2rem;
}

p {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);

  text-align: center;
  font-size: 3rem;
  font-family: 'Potta One', cursive;
  color: #fff;
}

/**************** ハンバーガーメニュー ****************/
/* 3本線のハンバーガーメニューボタンをここじ実装 */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;

  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;

  background-color: #941640;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}

/* メニューの線、最初を表示 */
/* 真ん中の線を『bottom』としてそこから8px『上げる』。 */
.menu-btn span:before {
  bottom: 8px;
}

/* メニューの線、最後を表示 */
/* 真ん中の線を『top』としてそこから8px『下げる』。 */
.menu-btn span:after {
  top: 8px;
}


/* 3本線を✖️にする。 */
/*メニューオープン時は真ん中の線を透明にする*/
#menu-btn-check:checked~.menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked~.menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}


/* ハンバーガーメニューの実装を確認したら
   チェックボックスは隠す。 */
#menu-btn-check {
  display: none;
}


/* ハンバーガーメニューの中身を表示する。 */
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #941640;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

/* リスト表記を常は隠す。 */
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  /*leftの値を変更してメニューを画面外へ*/
  left: -100%;
  z-index: 80;
  background-color: #941640;
  /*アニメーション設定*/
  transition: all 0.5s;
}

#nav-black {
  display: none;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
#menu-btn-check:checked~#nav-black {
  display: block;
}

#menu-btn-check:checked~.menu-content {
  /*メニューを画面内へ*/
  left: 0;
}